<div class="menu-title">
    <img src="assets/img/logo-colores.png" class="w-100">
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <span class="text-danger mt-2 fs-6 fw-bolder">Oscar ftes</span>
    </div>
  </div>
  <div class="row justify-content-center global-menu">
    <div class="col-10 main-menu">
      <mat-list role="list" class="sti-dark">
        <mat-list-item role="listitem" class="item-menu" style="width: 104%; height: 3rem;" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" >
          <mat-icon mat-list-icon>
            store
          </mat-icon>
          Centros de Trabajo
        </mat-list-item>
        <mat-list role="listitem"  style="width: 104%;" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/admin/admin-training">
            Cursos
          </mat-list-item>
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/admin/course-classification">
            Clasificación de cursos
          </mat-list-item>
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/admin/admin-instructor">
            Instructores
          </mat-list-item>
        </mat-list>
        <mat-list-item role="listitem" class="item-menu" style="width: 104%; height: 3rem;" (click)="collapse2.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" >
          <mat-icon mat-list-icon>
            settings
          </mat-icon>
          Configuración
        </mat-list-item>
        <mat-list role="listitem"  style="width: 104%;" #collapse2="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/admin/town">
            Municipios
          </mat-list-item>
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/admin/user">
            Usuarios
          </mat-list-item>
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/admin/admin-training-unit">
            Centros de Trabajo
          </mat-list-item>
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/admin/admin-contract">
            Contratos
          </mat-list-item>
        </mat-list>
        <mat-list-item role="listitem" class="item-menu" style="width: 104%; height: 3rem;" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" >
          <mat-icon mat-list-icon>
            gavel
          </mat-icon>
          Jurídico
        </mat-list-item>
        <mat-list role="listitem"  style="width: 104%;" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <mat-list-item class="item-sub-menu" style="height: 2.7rem; padding-left: 1.5rem;" routerLink="/legal-admin">
            Contratos
          </mat-list-item>
        </mat-list>
        <!-- ---------------------------------------------------------
        <mat-list-item role="listitem" class="item-menu" style="width: 104%;" (click)="logout();">
          <mat-icon mat-list-icon>
            exit_to_app
          </mat-icon>
          Salir
        </mat-list-item> -->
      </mat-list>
    </div>
  </div>
  